    body {
        padding: 8px;
        margin: 5px;
        border: 1px solid lightsteelblue;
    }
    .nav-pills .nav-link.active {
      background-color: gainsboro;
    }
    .mainWindow {
        height: 700px;
        overflow-y: scroll;
    }
    .subHeader {
        font-weight: bold;
        border-bottom: 1px solid lightsteelblue;
    }
    .appDescriptor {
        border-top: 1px solid lightsteelblue;
        padding-top: 8px;
        font-weight: bold;
    }
    .my-1 {
        line-height: 8px;
        white-space: nowrap;
    }